@keyframes timeout-shrink {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

.notification {
    position: fixed;
    z-index: 1000;
    background-color: var(--background-color-dynamic);
    color: white;
    transition: 0.2s;

    .col {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 10px 10px 0px;
    }

    .timeout {
        align-self: flex-start;
        height: 5px;
        background-color: color-mix(in srgb, var(--background-color-dynamic) 50%, black);
        width: 100%;
        animation: timeout-shrink var(--delay) linear forwards;
    }

    .close-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 16px;
        font-weight: 600;
        padding: 5px;
        text-align: center;
        align-content: center;
    }

    &.placement-0 {
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }

    &.placement-1 { /* TOP_MIDDLE */
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);

        &.display {
            transform: translateX(-50%) translateY(0);
        }
    }

    &.placement-2 { /* TOP_RIGHT */
        top: 0;
        right: 0;
        transform: translateY(-100%);
    }

    &.placement-3 { /* RIGHT_TOP */
        top: 0;
        right: 0;
        transform: translateX(100%);
    }

    &.placement-4 { /* RIGHT_MIDDLE */
        top: 50%;
        right: 0;
        transform: translateX(100%) translateY(-50%);

        &.display {
            transform: translateX(0) translateY(-50%);
        }
    }

    &.placement-5 { /* RIGHT_BOTTOM */
        bottom: 0;
        right: 0;
        transform: translateX(100%);
    }

    &.placement-6 { /* BOTTOM_RIGHT */
        bottom: 0;
        right: 0;
        transform: translateY(100%);
    }

    &.placement-7 { /* BOTTOM_MIDDLE */
        bottom: 0;
        left: 50%;
        transform: translateY(100%) translateX(-50%);

        &.display {
            transform: translateY(0) translateX(-50%);
        }
    }

    &.placement-8 { /* BOTTOM_LEFT */
        bottom: 0;
        left: 0;
        transform: translateY(100%);
    }

    &.placement-9 { /* LEFT_TOP */
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }

    &.placement-10 { /* LEFT_MIDDLE */
        top: 50%;
        left: 0;
        transform: translateX(-100%) translateY(-50%);

        &.display {
            transform: translateX(0) translateY(-50%);
        }
    }

    &.placement-11 { /* LEFT_BOTTOM */
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
    }

    &.display {
        transform: translateY(0);
    }
}