@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f5af00;
    --secondary-color: #0f132f;
    --font-primary-color: #0f132f;
    --font-secondary-color: rgba(255, 255, 255, 1);
    --background-color: #f4f4f4;

    --main-padding: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: calc(1600px + var(--main-padding) * 2);
    margin: 0 auto;
    padding: 0 var(--main-padding);
}

header {
    position: relative;
    background-color: rgba(128, 128, 128, 0.6);
    padding: 10px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--main-padding);

        > * {
            flex: 1;
        }
    }
}

#mainContainer {
    flex: 1;
    width: 100%;
    height: 100%;
    max-width: calc(1600px + var(--main-padding) * 2);
    margin: 0 auto;
    padding: var(--main-padding);

    overflow-y: auto;

    display: flex;
    gap: calc(var(--main-padding) * 1.5);

    #sidebar {
        width: 300px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.2);
        padding: var(--main-padding);
        /* padding: calc(var(--main-padding) / 2) var(--main-padding); */

        display: flex;
        flex-direction: column;
        gap: var(--main-padding);

        ul {
            list-style: none;

            li {
                margin-bottom: 10px;

                a {
                    text-decoration: none;
                    color: var(--font-color);
                    font-weight: 500;

                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    #mainContent {
        flex: 1;
        padding: var(--main-padding) 0;
        /* padding: calc(var(--main-padding) / 2) 0; */
    }

    #sideContent {
        width: 300px;
        height: 100%;
        background-color: white;
        border-left: 1px solid #ddd;
        padding: var(--main-padding);
        /* padding: calc(var(--main-padding) / 2) var(--main-padding); */
    }
}